.container{
    position: static;
    margin-top: 40px;
    background-color: var(--bgSoft);
    height: 100vh;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.userImage{
    border-radius: 50%;
    object-fit: cover;
}
.userDetials{
    display: flex;
    flex-direction: column;  
}
.userName{
    font-weight: 500;

}
.title{
    font-size: 12px;
    color: var(--textSoft);
}
.list{
    list-style: none;
}
.cat{
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px ;
}

.logout{
    padding: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: none;
    color: white;
    width: 95%;
}
.logout:hover{
    background-color: #2e374a;
}
.secondary{
    display: block;
}
.drawer{
    display: none;
}
@media only screen and (max-width: 700px){
   .secondary{
    display: none;
   }
    .drawer{
        display: block;
    }
}